# Entorno y Configuración de Servidor
PORT=3001
NODE_ENV=development

# Conexión a Base de Datos PostgreSQL
# Reemplazar con tus credenciales de PostgreSQL local o en la nube (ej: Supabase, Neon, Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/todopollo?schema=public"
